---
---

<div id="anni-capacity-popover" popover class="glass rounded p-4 max-w-lg">
	<button
		type="button"
		popovertarget="anni-capacity-popover"
		popovertargetaction="hide"
		class="float-right bg-transparent border-0 p-0 m-0 cursor-pointer text-inherit"
		aria-label="Close"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			class="h-5 w-5"
			aria-hidden="true"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
		</svg>
	</button>
	<h3>Capacity Limits</h3>
	<p>
		Guild Annihilation parties consist of multiple parties spread across multiple worlds: each
		party has a wynn-imposed limit of 10 users. Before filling a party, we make sure to assign it a
		composition we are confident can succeed; generally, this means a <em>minimum</em> of 5 users
		with highly capable builds.
	</p>
	<p>
		<strong
			>Sometimes, we do not have enough builds to form enough parties to fit everyone, and other
			times, we have enough builds but the core number is insufficiently divisible.</strong
		> In these cases, we have to make the difficult decision to limit the number of attendees as to
		ensure that the parties we do run retain a high chance of success.
	</p>
	<p>
		Finally, we also have to consider the practical limitations of creating parties, giving people
		time to get ready, and ensuring everyone fits on a world. Even in cases where enough people
		show up later to have allowed us to split into more parties (and thus handle more people), we
		may simply not have the time to do so.
	</p>
	<blockquote>
		<p>
			<strong>TLDR:</strong> We are always working to improve our capacity, and will do our best to
			guarantee a slot, but sometimes circumstances may prevent us from adding you to a party. We
			thank you for your understanding.
		</p>
	</blockquote>
</div>
